*{
    margin: 0px;
    padding: 0 px;
}

#container-lateral{
}

#lateral2 span{
    font-family: 'Material Icons';
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
p, span, li{
    font-family: 'Noto Serif', serif;
    font-size: 14px;
}

/* Formatação do bloco Contos Anônimos */
#lateral2{
    background-color: rgba(0, 167, 227, .1);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
}
#lateral2 h3{
    background-color: rgba(0, 167, 227, 1);
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
#lateral2 p{
    margin-bottom: 7px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 1);
}
#lateral2 span{
    color: #d7263d;
    font-size: 25px;
}


/* Formatação do LEIA TAMBÉM */
#leia-tambem{
    background-color: rgba(0, 167, 227, .1);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
#leia-tambem h3{
    border-radius: 5px;
    background-color: rgba(0, 167, 227, 1);
    color: white;
    padding: 10px 0px 10px 10px;
    margin-bottom: 8px;
}
#leia-tambem p{
    padding: 10px 0px 10px 10px;
    color: rgba(0, 0, 0, 1);
}
#leia-tambem span{
    font-family: 'Material Icons';
    margin-bottom: 8px;
}
#leia-tambem a:hover{
    color: #0000EE;
}
#leia-tambem a:visited{
    color: #551A8B;
}


/* Formatação do bloco 3 da lateral */
#lateral3{
    background-color: rgba(0, 167, 227, .1);
    border-radius: 5px;
    max-width: 300px;
    margin-bottom: 0px;
    padding: 10px;
}

#lateral3 h3{
    background-color: rgba(0, 167, 227, 1);
    border-radius: 5px;
    color: white;
    padding: 10px 0px 10px 10px;
}

@media screen and (max-width: 601px){
    #lateral3{
        max-width: 580px;
    }
    #lateral3 h3{
        font-weight: bold;
    }
    #lateral3 li{
        margin-left: 10px;
    }
}
#lateral3 li{
    list-style-type: square;
    list-style-position: inside;
    padding: 3px 5px 3px 3px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
}

#lateral3 li a{
    color: rgba(0, 0, 0, 1);
}

#lateral3 li a:hover{
    color: white;
    background-color: rgba(0, 167, 227, 1);
    padding: 3px 5px 3px 3px;
}

/* Formatação do bloco 4 da lateral */
#lateral4{
    background-color: rgba(0, 167, 227, .1);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}
#lateral4 h3{
    border-radius: 5px;
    background-color: rgba(0, 167, 227, 1);
    font-weight: bold;
    color: white;
    padding: 10px;
}
#lateral4 p{
    color: rgba(0, 0, 0, 1);
    padding: 10px 0px 0px 10px;
}

@media screen and (max-width:601px){
    #lateral4 h3{
        text-align: ;
    }
    
    #lateral4 p{
        text-align: ;
    }
}

/* Formatação do bloco 5 da lateral BANNER */
#aee{
    border-radius: 5px;
    background-color: rgba(0, 167, 227, 1);
    color: white;
    padding: 10px;
}
body{
    margin: 0;
    padding: 0;
}

.banner-container{
    background-color: rgba(0, 167, 227, .1);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 0px 30px 0px;
}
.content{
    width: 258px;
    height: 258px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0px 0px 0px;
}

@media screen and (max-width: 601px){
    .content{
        margin: 30px auto;
    }
}

.content .slide-container{
    animation-name: rolar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rolar {
    0%{transform:translatey(0px)}
    50%{transform:translatey(0px)}

    51%{transform:translatey(-258px)}
    99%{transform:translatey(-258px)}

    100%{transform:translatey(0px)}

}

.content .slides{
    position: relative;
}

.content .slides img{
    width: 100%;
}





.insta{
    height: 420px;
    border-top: solid 5px rgba(0, 167, 227, 1);
    overflow: hidden;
}




.container-grupos-sociais1 img{
    width: 100%;
}
.container-grupos-sociais1 img:hover{
    transform:rotate(360deg);
    transition: transform .5s;
}
.container-grupos-sociais1 h3{
    border-radius: 5px;
    background-color: rgba(0, 167, 227, 1);
    font-weight: bold;
    color: white;
    padding: 10px;
}
.container-grupos-sociais1 .sub-cont{
    display: flex;
    place-content: center;
}
.container-grupos-sociais1 div{
    flex-basis: 70px;
    margin: 10px 20px;
}
@media screen and (max-width:600px){
    .container-grupos-sociais1{
        display: none;
    }
}