#caixa-menu{
    background-color: ;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 3px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: ;
}
@media screen and (max-width: 601px){
    nav{
        display: none;
    }
}

nav ul li a{
    color: ;
}

@media screen and (max-width: 414px){
    nav ul li{
        margin: 3px;
        padding: 3px;
    }
}
@media screen and (max-width: 360px){
    nav ul li{
        margin: 3px;
        padding: 3px;
        text-align: center;
    }
}



#caixa-menu-mobile{
    max-width: 76px;
    margin: 0 auto;
}
@media screen and (min-width: 601px){
    #caixa-menu-mobile{
        display: none;
    }
}

.dropbtn {
    background-color: ;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: whitesmoke;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover{
      background-color:white;
  }
  
  .dropdown a:hover {background-color: whitesmoke;}
  
  .show {display: block;}