
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 3px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
@media screen and (max-width: 414px){
    nav ul li{
        margin: 3px;
        padding: 3px;
    }
}
@media screen and (max-width: 360px){
    nav ul li{
        margin: 3px;
        padding: 3px;
        text-align: center;
    }
}