*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
}

h1, h2, h3, p{
    font-family: 'Noto Serif', serif;
    color: #2b4162;
}

a{
    text-decoration: none;
    color: #2b4162;
}

.info{
    font-family: 'Material Icons';
    background-color: #2b4162;
}

header nav{
    max-width: 590px;
    margin: 0 auto;
}
@media screen and (max-width: 414px){
    header nav{
        max-width: 255px;
    }
}
@media screen and (max-width: 360px){
    header nav{
        max-width: 255px;
    }
}

header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 3px;
    padding: 10px;
}
@media screen and (max-width: 414px){
    header nav ul li{
        margin: 3px;
        padding: 3px;
    }
}
@media screen and (max-width: 360px){
    header nav ul li{
        margin: 3px;
        padding: 3px;
        text-align: center;
    }
}

header .banner{
    height: 400px;
    margin-top: 58px;
}
@media screen and (max-width: 1024px){
    header .banner{
        height: 316px;
    }
}
@media screen and (max-width: 601px){
    header .banner{
        height: 188px;
    }
}
@media screen and (max-width: 414px){
    header .banner{
        height: 120px;
    }
}
@media screen and (max-width: 360px){
    header .banner{
        height: 110px;
    }
}

/*--------------------------------
Formatação do container geral
---------------------------------*/
.container-geral{
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1920px){
    .container-geral{
        margin-top: 240px;
    }
}
@media screen and (max-width: 1816px){
    .container-geral{
        margin-top: 100px;
    }
}
@media screen and (max-width: 1280px){
    .container-geral{
        margin-top: 60px;
    }
}
@media screen and (max-width: 1024px){
    .container-geral{
        max-width: 962px;
        margin-top: 60px;
    }
}
@media screen and (max-width: 601px){
    .container-geral{
        display: block;
        max-width: 580px;
        margin: 60px auto;
    }
}
@media screen and (max-width: 414px){
    .container-geral{
        max-width: 400px;
        margin: 40px auto;
    }
}
@media screen and (max-width: 360px){
    .container-geral{
        max-width: 350px;
        margin: 30px auto;
    }
}

/*-------------------------------------
Formatação do lado 1 - lado esquerdo
--------------------------------------*/
.container-geral #l1{
    width: 74%;
    margin-right: 0px;
}

@media screen and (max-width: 601px){
    .container-geral #l1{
        width: 100%;
        margin: auto;
        padding: 0px 15px 0px 15px;
    }
}

.container-geral #l1 .curso{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    padding: 20px;
    margin: 0px 30px 30px 0px;
}
@media screen and (max-width: 601px){
    .container-geral #l1 .curso{
        display: block;
        margin: 0px 0px 30px 0px;
        padding: 0px;
    }
    .container-geral #l1 .curso .capa-video{
        margin: auto;
    }
    .container-geral #l1 .curso .decricao-curso{
        margin: 0px;
        padding: 0px;
    }
    .container-geral #l1 .curso .decricao-curso h1{
        font-size: 10px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

}

.container-geral #l1 .curso .capa-video{
    max-width: 200px;
}

.container-geral #l1 .curso .decricao-curso{
    padding: 0px 0px 0px 20px;
}

.container-geral #l1 .curso .decricao-curso h1{
    font-size: 28px;
    padding: 0px;
    margin: 0px;
}

.container-geral #l1 .curso p{
    font-size: 18px;
    line-height: 28px;
}

.container-geral #l1 .curso h2{
    font-size: 20px;
}

.container-geral #l1 .curso hr{
    margin: 10px 0px 10px 0px;
}

.container-geral #l1 .curso .info{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Source Sans Pro';
    color: white;
    padding: 3px 5px;
}

.container-geral #l1 .curso a:hover{
    color: #0000ff;
}

/*----------------------------------------
Formatação do lado 2 - lado direito
-----------------------------------------*/
.container-geral #l2{
    width: 25%;
    margin-left: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.329);
    padding-left: 20px;
}

@media screen and (max-width: 601px){
    .container-geral #l2{
        width: 100%;
        margin: 0px 0px 120px;
        padding: 0px 15px 0px 15px;
        border: none;
    }
}
@media screen and (max-width: 414px){
    .container-geral #l2{
        width: 100%;
        margin: 0px 0px 120px;
        padding: 0px;
        border: none
    }
}
@media screen and (max-width: 360px){
    .container-geral #l2{
        width: 100%;
        margin: 0px 0px 120px;
        padding: 0px;
        border: none;
    }
}

#paginas{
    max-width: 160px;
    margin: 0px auto;
    padding-bottom: 20px;
}

#paginas ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    margin: 5px;
    background-color: #2b4162;
    color: white;
}

#paginas ul li a{
    color: white;
}

footer{
    height: 120px;
    background-color: #2b4162;
    text-align: center;
    padding-top: 25px;
}

footer p{
    color: white;
}