/*---------------------
FORMATAÇÕES GLOBAIS
----------------------*/
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    color: black;
    font-size: 18px;
}

h1, h2, h3, p{
    font-family: 'Noto Serif', serif;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------------------------------
Formatação da barra de progresso de leitura
----------------------------------------------*/
#container-barra-progresso{
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.progress-container {
    background: #fff;
    height: 6px;
    width: 100%;
}
.progress-bar {
    background: red;
    height: 5px;
    width: 0%;
}

/*-----------------------------------
Formatação geral do cabeçalho
-----------------------------------*/
header nav{
    max-width: 590px;
    margin: 0 auto;
}
@media screen and (max-width: 601px){
    header nav{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 414px){
    header nav{
        max-width: 255px;
    }
}
@media screen and (max-width: 360px){
    header nav{
        max-width: 255px;
    }
}

header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 3px;
    padding: 10px;
}
@media screen and (max-width: 414px){
    header nav ul li{
        margin: 3px;
        padding: 3px;
    }
}
@media screen and (max-width: 360px){
    header nav ul li{
        margin: 3px;
        padding: 3px;
        text-align: center;
    }
}

/*------------------------------
FORMATAÇÃO DA ÁREA DO BANNER
-------------------------------*/
header .banner{
    height: 400px;
    margin-top: 85px;
}
@media screen and (max-width: 1024px){
    header .banner{
        height: 316px;
    }
}
@media screen and (max-width: 601px){
    header .banner{
        height: 188px;
    }
}
@media screen and (max-width: 414px){
    header .banner{
        height: 120px;
    }
}
@media screen and (max-width: 360px){
    header .banner{
        height: 110px;
    }
}

/*-------------------------------
FORMATAÇÃO DO CONTAINER GERAL
-------------------------------*/
.container-geral{
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1920px){
    .container-geral{
        margin-top: 240px;
    }
}
@media screen and (max-width: 1816px){
    .container-geral{
        margin-top: 100px;
    }
}
@media screen and (max-width: 1280px){
    .container-geral{
        margin-top: 60px;
    }
}
@media screen and (max-width: 1024px){
    .container-geral{
        max-width: 962px;
        margin-top: 60px;
    }
}
@media screen and (max-width: 601px){
    .container-geral{
        display: block;
        max-width: 580px;
        margin: 60px auto;
    }
}
@media screen and (max-width: 414px){
    .container-geral{
        max-width: 400px;
        margin: 40px auto;
    }
}
@media screen and (max-width: 360px){
    .container-geral{
        max-width: 350px;
        margin: 30px auto;
    }
}

/*------------------------------
FORMATAÇÃO DO LADO 1
-------------------------------*/
.container-geral #l1{
    width: 74%;
    margin-right: 0px;
}

@media screen and (max-width: 601px){
    .container-geral #l1{
        width: 100%;
    }
}
@media screen and (max-width: 414px){
    .container-geral #l1{
        width: 100%;
    }
}
@media screen and (max-width: 360px){
    .container-geral #l1{
        width: 100%;
    }
}

/*------------------------------
FORMATAÇÃO DOS POSTS
-------------------------------*/
.container-geral #l1 .post-container{
    margin: 0px 60px 30px 0px;
}
@media screen and (max-width: 601px){
    .container-geral #l1 .post-container{
        width: 93%;
        margin: auto;
    }
}
@media screen and (max-width: 414px){
    .container-geral #l1 .post-container{
        width: 93%;
        margin: auto;
    }
}
@media screen and (max-width: 360px){
    .container-geral #l1 .post-container{
        width: 93%;
        margin: auto;
    }
}

.container-geral #l1 .post-container .img-post{
    width: auto;
    height: 280px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.container-geral #l1 .post-container .titulo-autor-data h1{
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 10px;
    margin: 0px;
    font-family: 'Noto Serif', serif;
    color: #2b4162;
}
.container-geral #l1 .post-container .titulo-autor-data p{
    font-size: 12px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    color: rgba(43, 65, 98, 0.5);
}
.container-geral #l1 .post-container .titulo-autor-data #data-pub{
    margin-bottom: 20px;
}
.container-geral #l1 .post-container .titulo-autor-data #data-pub::after{
    content: "";
    display: inline-block;
    height: 1px;
    width: 615px;
    margin-left: 10px;
    background-color: rgba(43, 65, 98, 0.2);
}
@media screen and (max-width: 600px){
    .container-geral #l1 .post-container .titulo-autor-data h1{
        font-size: 22px;
        line-height: 28px;
    }
    .container-geral #l1 .post-container .titulo-autor-data #data-pub::after{
        max-width: 340px;
    }
}

.container-geral #l1 .post-container h2{
    font-size: 22px;
    color: #2b4162;
    margin: 20px 0px 10px;
}

.container-geral #l1 .post-container .sharethis-inline-share-buttons{
    padding-bottom: 40px;
}

.container-geral #l1 .post-container p{
    padding-bottom: 16px;
    line-height: 28px;
    font-size: 18px;
    color: #2b4162;
}


/*------------------------------
FORMATAÇÃO DO LADO 2
-------------------------------*/
.container-geral #l2{
    width: 25%;
    margin-left: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.329);
    padding-left: 20px;
}

@media screen and (max-width: 601px){
    .container-geral #l2{
        width: 100%;
        margin: 0px 0px 120px;
        padding: 0px 15px 0px 15px;
        border: none;
    }
}
@media screen and (max-width: 414px){
    .container-geral #l2{
        width: 100%;
        margin: 0px 0px 120px;
        border: none
    }
}
@media screen and (max-width: 360px){
    .container-geral #l2{
        width: 100%;
        margin: 0px 0px 120px;
        border: none;
    }
}

/*------------------------------
FORMATAÇÃO DA PAGINAÇÃO
-------------------------------*/
#paginas{
    max-width: 160px;
    margin: 0px auto;
    padding-bottom: 20px;
}

#paginas ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    margin: 5px;
    background-color: #2b4162;
    color: white;
}

#paginas ul li a{
    color: white;
}

/*---------------------------------------------
Formatação do rodapé
----------------------------------------------*/
footer{
    background-color: #2b4162;
    text-align: center;
    padding: 25px 0px;
}

footer p{
    color: white;
}



/*---------------------------------------------
Formatação das imagens de fundo dos posts
----------------------------------------------*/
#img22{
    background-image: url(https://image.freepik.com/fotos-gratis/menina-de-sorriso-com-livros-prontos_1098-3792.jpg);
    background-position: center;
    background-size: cover;
}

#img21{
    background-image: url(https://image.freepik.com/vecteurs-libre/ile-dans-ocean-ile-inhabitee-plage-sable_107791-619.jpg);
    background-position: center;
    background-size: cover;
}

#img20{
    background-image: url(https://image.freepik.com/vecteurs-libre/design-plat-feliz-natal_23-2148773635.jpg);
    background-position: center;
    background-size: cover;
}

#img19{
    background-image: url(https://image.freepik.com/photos-gratuite/cellule-virus-bacteries-pathogenes-dans-circulation-sanguine-pandemie-mondiale-coronavirus-rendu-3d_482257-17611.jpg);
    background-position: center;
    background-size: cover;
}

#img18{
    background-image: url(../img/conferencia-educa.jpg);
    background-position: center;
    background-size: cover;
}

#img17{
    background-image: url(https://pcdob.org.br/wp-content/uploads/2021/05/marx-scaled-1.jpg);
    background-position: center;
    background-size: cover;
}

#img16{
    background-image: url(http://4.bp.blogspot.com/-c9Ktosz0XUc/Tsuo5GtaN7I/AAAAAAAACI8/ldW2aiX-zGs/s1600/NS_DE_%257E1.JPG);
    background-position: center;
    background-size: cover;
}

#img15{
    background-image: url(https://climaonline.com.br/public/fotos/ce/capistrano/foto-antiga-de-capistrano-9.webp);
    background-position: center;
    background-size: cover;
}

#img14{
    background-image: url(https://image.freepik.com/vetores-gratis/cena-do-nascimento-de-jesus-cristo-em-ilustracao-plana-de-manjedoura-de-madeira_1284-61990.jpg);
    background-position: center;
    background-size: cover;
}

#img13{
    background-image: url(https://pt.org.br/wp-content/uploads/2021/06/bolsovirus-brasil-bandeira-rachada-1.jpg);
    background-position: center;
    background-size: cover;
}

#img12{
    background-image: url(https://www.cafehistoria.com.br/wp-content/uploads/2021/02/anti-comunismo.jpg);
    background-position: center;
    background-size: cover;
}

#img11{
    background-image: url(https://image.freepik.com/fotos-gratis/mulher-pensativa-com-pergunta-simbolos-atras_1134-505.jpg);
    background-position: center;
    background-size: cover;
}

#img10{
    background-image: url(https://image.freepik.com/fotos-gratis/close-da-bandeira-do-afeganistao-com-texturas-interessantes_181624-12682.jpg);
    background-position: center;
    background-size: cover;
}

#img9{
    background-image: url(https://image.freepik.com/vetores-gratis/pessoas-segurando-diverso-religiosas-simbolos-ilustracao_53876-66142.jpg);
    background-position: center;
    background-size: cover;
}

#img8{
    background-image: url(https://image.freepik.com/vetores-gratis/cena-da-natureza-de-pastagens-agricolas-de-terras-rurais-abtract-silhueta-de-agricultores-asiaticos-trabalhando-no-campo-de-arroz-ilustracao_1150-37317.jpg);
    background-position: center;
    background-size: cover;
}

#img7{
    background-image: url(https://image.freepik.com/vetores-gratis/conceito-de-elementos-esotericos_52683-39409.jpg);
    background-position: center;
    background-size: cover;
}

#img6{
    background-image: url(https://4.bp.blogspot.com/-QkPZayupLEM/VwuFBVVrezI/AAAAAAAACSk/9GVQrR6kzI0r42J6Kya6PtTkJknRFgAWQ/s1600/panteon_griego.jpg);
    background-position: center;
    background-size: cover;
}

#img5{
    background-image: url(https://exame.com/wp-content/uploads/2018/01/cristianismo.jpg);
    background-position: center;
    background-size: cover;
}

#img4{
    background-image: url(https://www.sociedadenerd.com.br/wp-content/uploads/2021/06/o-que-sao-as-esferas-do-dragao.jpg);
    background-position: center;
    background-size: cover;
}

#img3{
    background-image: url(https://exame.com/wp-content/uploads/2021/05/jair-bolsonaro.jpg);
    background-position: center;
    background-size: cover;
}

#img2{
    background-image: url(https://scmillhills.com/wp-content/uploads/sites/5/2017/03/dolni-vestonice-winter-life-giovanni-caselli.jpg);
    background-position: center;
    background-size: cover;
}

#img1{
    background-image: url(https://centrodeeventos.ce.gov.br/wp-content/uploads/2017/06/MAIS-PAIC.png);
    background-position: center;
    background-size: cover;
}
