/*-----------------------
FORMATAÇÕES GLOBAIS
------------------------*/
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    color: black;
    font-size: 18px;
}

h1, p{
    font-family: 'Noto Serif', serif;
}

a{
    text-decoration: none;
    color: black;
}

.geral{
    background-color: black;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 3px 5px;
    color: rgba(255, 195, 0, 1);
    font-size: 12px;
    font-weight: 700;
}
.politica-local{
    background-color: black;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 3px 5px;
    color: rgba(255, 195, 0, 1);
    font-size: 12px;
    font-weight: 700;
}
#data-post{
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-indent: none;
}

/*---------------------------------
FORMATAÇÕES GERAIS DO CABEÇALHO
----------------------------------*/

/*-----------------------
FORMATAÇÕES DO MENU
------------------------*/

/*-----------------------
FORMATAÇÕES DO BANNER
------------------------*/
header .banner{
    height: 400px;
    margin: 88px 0px 0px 0px;
}


/*--------------------------------
FORMATAÇÕES DO CONTAINER GERAL
---------------------------------*/
.container-geral{
    max-width: 1024px;
    margin: 0px auto;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

/*----------------------------
FORMATAÇÃO GERAL DO LADO 1
-----------------------------*/
.container-geral #l1{
    width: 75%;
    margin-right: 0px;
}

/*--------------------------------
FORMATAÇÃO DA NOTÍCIA DESTAQUE
---------------------------------*/
.container-geral #l1 .noticia-destaque{
    max-width: 730px;
    margin-bottom: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}

.container-geral #l1 .noticia-destaque .titulo-autor-data h1{
    margin: 0px 0px 10px 0px;
    font-size: 28px;
    color: black;
    line-height: 38px;
    font-weight: bold;
}

.container-geral #l1 .noticia-destaque .titulo-autor-data{
    margin: 0px 0px 20px 0px;
}
.container-geral #l1 .noticia-destaque .titulo-autor-data p{
    color: rgba(0, 0, 0, .5);
}
.container-geral #l1 .noticia-destaque .titulo-autor-data #data-pub::after{
    content: "";
    display: inline-block;
    height: 1px;
    width: 64%;
    margin: 0px 0px 0px 5px;
    background-color: rgba(0, 0, 0, .2);
}

.container-geral #l1 .noticia-destaque #img-post-destaque{
    max-width: 852px;
    margin: auto;
}

.container-geral #l1 .noticia-destaque #img-post-destaque img{
    width: 400px;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    float: left;
    margin: 0px 30px 20px 0px;
}

.container-geral #l1 .noticia-destaque #img-post-destaque p{
    text-align: left;
    margin: 16px 0px 16px 0px;
    line-height: 28px;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    hyphens: auto;
}

.container-geral #l1 .noticia-destaque #img-post-destaque p a{
    color: #0000ff;
}

.container-geral #l1 .noticia-destaque #more{
    display: none;
}
.container-geral #l1 .noticia-destaque #myBtn{
    max-width: 120px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(255, 195, 0, 1);
    border-radius: 5px;
    color: black;
}
.container-geral #l1 .noticia-destaque #dots{
    font-size: 18px;
}




/*--------------------------------
FORMATAÇÃO GERAL DO SUB LADO 1
--------------------------------*/
.container-geral #l1 #sub-l1{
    display: flex;
    flex-wrap: wrap;
}

/*-------------------------------
FORMATAÇÕES DOS POSTS/NOTÍCIAS
--------------------------------*/
.container-geral #l1 #sub-l1 .post-container{
    flex-grow: none;
    flex-shrink: 1;
    flex-basis: 350px;
    margin: 0px 30px 30px 0px;
    padding: 0px;
    border-radius: 5px 5px 0px 0px;
}

.container-geral #l1 #sub-l1 .post-container .img-post{
    width: auto;
    height: 155px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.container-geral #l1 #sub-l1 .post-container .img-post .anima-fundo-post{
    width: auto;
    height: 155px;
    border-radius: 5px;
}
.container-geral #l1 #sub-l1 .post-container .img-post .anima-fundo-post:hover{
    background: linear-gradient(45deg, transparent, transparent, rgba(255, 255, 255, 0.356), transparent, transparent);
    background-size: 200% 200%;
    animation: move-fundo .3s 1 linear forwards;
}
@keyframes move-fundo{
    0%{background-position: 0% 100%;}
    50%{background-position: 100% 0%;}
    100%{background-position: 0% 100%;}
}

.container-geral #l1 #sub-l1 .post-container h1{
    font-size: 20px;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 1);
}

#limita-previa{
    height: 180px;
    white-space: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
#limita-previa #text-previa{
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-top: 10px;
}
#limita-previa #text-previa:hover{
    text-decoration: underline;
}

/*------------------------------
FORMATAÇÃO GERAL DO LADO 2
-------------------------------*/
.container-geral #l2{
    width: 25%;
    margin-left: 0px;
    padding: 0px 0px 0px 20px;
    border-left: 1px solid rgba(43, 65, 98, 0.2);
}

/*------------------------------
FORMATAÇÃO GERAL DO LADO 2 A
-------------------------------*/
.container-geral #l2-a{
    width: 25%;
    margin-left: 0px;
    padding: 0px 0px 0px 20px;
    border-left: 1px solid rgba(43, 65, 98, 0.2);
}

/*-------------------------
FORMATAÇÃO DA PAGINAÇÃO
--------------------------*/
#paginas{
    max-width: 160px;
    margin: 0px auto;
    padding-bottom: 20px;
}

#paginas ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 167, 227, 1);
    color: white;
}

#paginas ul li a{
    color: white;
}

/*----------------------------
FORMATAÇÃO GERAL DO RODAPÉ
-----------------------------*/
footer{
    background-color: rgba(0, 167, 227, 1);
    text-align: center;
    padding: 25px 0px;
}


mark{
    display: none;
}


/*-----------------------------------
FORMATAÇÃO DAS IMAGENS DOS POSTS
-----------------------------------*/
#img27{
    background-image: url(https://images.pexels.com/photos/11477798/pexels-photo-11477798.jpeg);
    background-position: center;
    background-size: cover;
}
#img26{
    background-image: url(https://cdn.pixabay.com/photo/2017/03/26/21/47/holocaust-2176655_960_720.jpg);
    background-position: center;
    background-size: cover;
}

#img25{
    background-image: url(https://img.freepik.com/fotos-gratis/livro-da-biblia-sagrada-e-cruz-vista-de-perto_488220-21528.jpg);
    background-position: center;
    background-size: cover;
}

#img24{
    background-image: url(https://image.freepik.com/free-photo/education-day-arrangement-table-with-copy-space_23-2148721266.jpg);
    background-position: center;
    background-size: cover;
}

#img23{
    background-image: url(https://image.freepik.com/free-vector/concept-protest-revolution-conflict_1325-267.jpg);
    background-position: center;
    background-size: cover;
}

#img22{
    background-image: url(https://image.freepik.com/fotos-gratis/menina-de-sorriso-com-livros-prontos_1098-3792.jpg);
    background-position: center;
    background-size: cover;
}

#img21{
    background-image: url(https://image.freepik.com/vecteurs-libre/ile-dans-ocean-ile-inhabitee-plage-sable_107791-619.jpg);
    background-position: center;
    background-size: cover;
}
#img20{
    background-image: url(https://image.freepik.com/vecteurs-libre/design-plat-feliz-natal_23-2148773635.jpg);
    background-position: center;
    background-size: cover;
}

#img19{
    background-image: url(https://image.freepik.com/photos-gratuite/cellule-virus-bacteries-pathogenes-dans-circulation-sanguine-pandemie-mondiale-coronavirus-rendu-3d_482257-17611.jpg);
    background-position: center;
    background-size: cover;
}

#img18{
    background-image: url(../img/conferencia-educa.jpg);
    background-position: center;
    background-size: cover;
}

#img17{
    background-image: url(https://pcdob.org.br/wp-content/uploads/2021/05/marx-scaled-1.jpg);
    background-position: center;
    background-size: cover;
}

#img16{
    background-image: url(http://4.bp.blogspot.com/-c9Ktosz0XUc/Tsuo5GtaN7I/AAAAAAAACI8/ldW2aiX-zGs/s1600/NS_DE_%257E1.JPG);
    background-position: center;
    background-size: cover;
}

#img15{
    background-image: url(https://climaonline.com.br/public/fotos/ce/capistrano/foto-antiga-de-capistrano-9.webp);
    background-position: center;
    background-size: cover;
}

#img14{
    background-image: url(https://image.freepik.com/vetores-gratis/cena-do-nascimento-de-jesus-cristo-em-ilustracao-plana-de-manjedoura-de-madeira_1284-61990.jpg);
    background-position: center;
    background-size: cover;
}

#img13{
    background-image: url(https://pt.org.br/wp-content/uploads/2021/06/bolsovirus-brasil-bandeira-rachada-1.jpg);
    background-position: center;
    background-size: cover;
}

#img12{
    background-image: url(https://www.cafehistoria.com.br/wp-content/uploads/2021/02/anti-comunismo.jpg);
    background-position: center;
    background-size: cover;
}

#img11{
    background-image: url(https://image.freepik.com/fotos-gratis/mulher-pensativa-com-pergunta-simbolos-atras_1134-505.jpg);
    background-position: center;
    background-size: cover;
}

#img10{
    background-image: url(https://image.freepik.com/fotos-gratis/close-da-bandeira-do-afeganistao-com-texturas-interessantes_181624-12682.jpg);
    background-position: center;
    background-size: cover;
}

#img9{
    background-image: url(https://image.freepik.com/vetores-gratis/pessoas-segurando-diverso-religiosas-simbolos-ilustracao_53876-66142.jpg);
    background-position: center;
    background-size: cover;
}

#img8{
    background-image: url(https://image.freepik.com/vetores-gratis/cena-da-natureza-de-pastagens-agricolas-de-terras-rurais-abtract-silhueta-de-agricultores-asiaticos-trabalhando-no-campo-de-arroz-ilustracao_1150-37317.jpg);
    background-position: center;
    background-size: cover;
}

#img7{
    background-image: url(https://image.freepik.com/vetores-gratis/conceito-de-elementos-esotericos_52683-39409.jpg);
    background-position: center;
    background-size: cover;
}

#img6{
    background-image: url(https://4.bp.blogspot.com/-QkPZayupLEM/VwuFBVVrezI/AAAAAAAACSk/9GVQrR6kzI0r42J6Kya6PtTkJknRFgAWQ/s1600/panteon_griego.jpg);
    background-position: center;
    background-size: cover;
}

#img5{
    background-image: url(https://exame.com/wp-content/uploads/2018/01/cristianismo.jpg);
    background-position: center;
    background-size: cover;
}

#img4{
    background-image: url(https://www.sociedadenerd.com.br/wp-content/uploads/2021/06/o-que-sao-as-esferas-do-dragao.jpg);
    background-position: center;
    background-size: cover;
}

#img3{
    background-image: url(https://exame.com/wp-content/uploads/2021/05/jair-bolsonaro.jpg);
    background-position: center;
    background-size: cover;
}

#img2{
    background-image: url(https://scmillhills.com/wp-content/uploads/sites/5/2017/03/dolni-vestonice-winter-life-giovanni-caselli.jpg);
    background-position: center;
    background-size: cover;
}

#img1{
    background-image: url(https://centrodeeventos.ce.gov.br/wp-content/uploads/2017/06/MAIS-PAIC.png);
    background-position: center;
    background-size: cover;
}


.tela-toda{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 40px auto;
    height: 400px;
    background-color: rgb(0, 0, 0);
}
.tela-toda p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 85px;
    font-weight: 900;
    text-align: center;
    color: white;
}