*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fcfbc7;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: normal;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: normal;
}

p, span, a{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: normal;
}

/*Configuração do banner do topo*/
.banner-topo{
    height: 300px;
    width: 100%;
}

.banner-topo video{
    width: 100%;
}

/*Configuração do menu*/
.cx-menu{
    height: 60px;
    width: 100%;
    margin-top: -2px;
    background-color: red;
}

/*Configuração geral da seção de prévia de posts*/
.sec-1{
    margin-top: 80px;
}

.sec-1 .cx-previa-post{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.sec-1 .cx-previa-post a{
    text-decoration: none;
    color: #000000;
    display: block;
    margin: 0px 40px 80px 40px;
    flex-basis: 777px;
}

.sec-1 .cx-previa-post a .post{
    display: flex;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 15px 15px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.sec-1 .cx-previa-post a .post .img-post{
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

.sec-1 .cx-previa-post a .post .img-post img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0px 0px 10px;
}

.sec-1 .cx-previa-post a .post .img-post img:hover{
    transform: scale(1.2);
    transition: transform .3s;
}

.sec-1 .cx-previa-post a .post .txt-post{
    width: 50%;
    height: 100%;
    padding: 10px 0px 0px 20px;
}

.sec-1 .cx-previa-post a .post .txt-post p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}





.sec-2{
    height: 100vh;
}






footer{
    height: 200px;
    background-color: red;
}






/*Configuração da página de post - singlepost*/
.sec-singlepost{
    margin-top: 80px;
}

.sec-singlepost .cx-singlepost{
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}
.sec-singlepost .cx-singlepost article{
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 15px 15px 15px -3px rgba(0,0,0,0.1);
}
.sec-singlepost .cx-singlepost article .img-singlepost img{
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
}
.sec-singlepost .cx-singlepost article .txt-singlepost{
    padding: 50px 30px 30px;
}
.sec-singlepost .cx-singlepost article .txt-singlepost p{
    margin-top: 30px;
    line-height: 1.5;
}