/* Formatação global */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Noto Serif', serif;
    color: rgba(43, 34, 0, 1);
}

body .material-symbols-outlined{
    font-family: 'Material Icons';
}

body p::selection, h1::selection, h2::selection, h3::selection, span::selection, figcaption::selection{
    background-color: #ff0000;
}


/* Formatação do header */
header .cont-menu-art{
    height: 48px;
    width: 100%;
    margin: -25px auto;
}

@media screen and (max-width:600px){
    header .cont-menu-art{
        margin: -20px auto;
    }
}

header .cont-menu-art .cont-menu-m{
    width: 93%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #ff0000;
    border-top: solid 1px #ffffff;
}

header .cont-menu-art .cont-menu-m .menu{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
}
header .cont-menu-art .cont-menu-m .menu .caixa-menu-mobile{
    margin: auto;
}

header .cont-menu-art .cont-menu-m .menu .large-menu a{
    padding: 8px 8px;
    margin: 0px -2px;
    color: #ffffff;
    text-decoration: none;
    background-color: #ff0000;
}
header .cont-menu-art .cont-menu-m .menu .large-menu a:hover{
    background-color: #aa0000;
    color: #ffffff;
    transition: background-color .3s;
}

header .menu .material-symbols-outlined{
    font-family: 'Material Icons';
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
}

/* estilo da logo */
header .cx-logoDesc{
    display: flex;
    max-width: 140px;
    align-items: center;
    justify-content: center;
    margin: 8px auto 8px;
    background-color: #ff0000;
}
header .cx-logoDesc h1{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    padding: 8px 0px;
    color: #ffffff;
}

header .cx-logoDesc-large{
    height: 100%;
    display: flex;
    align-items: center;
}
header .cx-logoDesc-large h1{
    display: inline;
    padding: 4px 10px;
    background-color: #ff0000;
    color: #ffffff;
    text-transform: uppercase;
}

header .banner{
    width: 100%;
    height: 300px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
header #banner .slideshow-container .mySlides img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
header #banner .sldcont .smallslide img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

/* estilo do banner */
header #banner{
    width: 93%;
    height: 300px;
    margin: auto;
}


/* Formatação da section 0 */
.a-content-sec{
    width: 93%;
    margin: 40px auto;
}
.a-content-sec .artigo{
    width: 100%;
    margin: 0 auto;
}

.a-content-sec .artigo .art-content-title h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.a-content-sec .artigo .art-content-title p{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.a-content-sec .artigo .art-content-title p::after{
    content: "";
    display: block;
    margin: 20px auto 20px;
    height: 1px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.4);
}

.a-content-sec .artigo .art-autores{
    margin: auto;
}

.a-content-sec .artigo .art-autores p{
    text-align: center;
    font-size: 12px;
    padding: 0px 0px 0px 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
}


.a-content-sec .artigo figure{
    width: 100%;
    height: 260px;
    margin: 15px 0px 60px 0px;
}
.a-content-sec .artigo figure img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
}
.a-content-sec .artigo figure figcaption{
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    margin: 0px 0px 0px 0px;
}

.a-content-sec .artigo .sharethis-inline-share-buttons{
    max-width: 300px;
    margin: 0px auto 10px;
}

.a-content-sec .artigo .a-content{
    max-width: 618px;
    margin: auto;
}

.a-content-sec .artigo .a-content p{
    line-height: 1.5;
    font-size: 18px;
    margin: 0px 0px 15px;
}

.a-content-sec .artigo .a-content h2{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}


.a-content-sec .artigo .a-content ul{
    background-color: rgba(0, 0, 0, .1);
    padding: 10px;
    margin-bottom: 15px;
}
.a-content-sec .artigo .a-content ul li{
    list-style-position: inside;
    list-style-type: square;
}
.a-content-sec .artigo .a-content ul li a{
    text-decoration: none;
}




/* Responsive */
@media screen and (max-width:600px){
    .cont-menu .cont-menu-m .cx-logoDesc-large{
      display: none;
    }
    header .menu .large-menu{
      display: none;
    }

    .a-content-sec .artigo .art-content-title h1{
        font-size: 22px;
    }

    header #slide{
        display: none;
    }
}
  
  
  @media screen and (min-width:601px){
    header .cont-menu{
      margin-bottom: 20px;
    }
  
    header .cx-logoDesc{
      display: none;
    }
  
    header .menu .caixa-menu-mobile{
      display: none;
    }

    header #slide2{
        display: none;
    }

    header .redes-sociais{
        margin: 0px auto 20px;
    }
      .capa{
        margin: 30px auto;
    }
    
      header .categorias{
        display: flex;
        margin: -15px auto 15px;
    }
      header .categorias a{
          width: 30%;
          margin: 0px 3px;
    }

    .a-content-sec .artigo .art-content-title h1{
        font-size: 38px;
    }

    .a-content-sec .artigo figure{
        margin: 15px 0px 40px 0px;
    }
}

/* Configuração do botão voltar ao topo */
#myBtnS {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px;
  }
  
  #myBtnS:hover {
    background-color: #555;
  }

  #up{
    font-size: 25px;
  }