/* Formatação global */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Noto Serif', serif;
    color: rgba(43, 34, 0, 1);
}

body .material-symbols-outlined{
    font-family: 'Material Icons';
}

body p::selection, h1::selection, h2::selection, h3::selection, span::selection, figcaption::selection{
    background-color: #ff0000;
}


/* Formatação do header */
header{
    height: 70px;
    background-image: linear-gradient(45deg, #db0101, #ff0000);
    margin-bottom: 0px;
}

/* Formatação do menu */
header .cont-menu{
    height: 70px;
    width: 93%;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

header .cont-menu .logo_classista{
    width: auto;
    display: flex;
    align-items: center;
}
header .cont-menu .logo_classista .log{
    margin: 0px 20px 0px 0px;
}
header .cont-menu .logo_classista .log h1{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}
header .cont-menu .logo_classista .log a{
    text-decoration: none;
    color: #ffffff;
}
header .cont-menu .logo_classista .des p{
    margin: 5px 0px 0px 0px;
    padding: 0px;
    color: #ffffff;
}

header .cont-menu .cont-menu-m{
    width: auto;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: right;
}

header .cont-menu .cont-menu-m .menu{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
}
header .cont-menu .cont-menu-m .menu .caixa-menu-mobile{
    margin: auto;
}

header .cont-menu .cont-menu-m .menu .large-menu a{
    padding: 8px 8px;
    margin: 0px -2px;
    color: #ffffff;
    text-decoration: none;
    border: solid 1px transparent;
}
header .cont-menu .cont-menu-m .menu .large-menu a:hover{
    border: solid 1px #ffffff;
    transition: border .3s;
}

header .menu .material-symbols-outlined{
    font-family: 'Material Icons';
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
}

.log-mob{
    width: auto;
}
.log-mob h1{
    text-align: center;
}
.log-mob h1 a{
    text-decoration: none;
    color: #ff0000;
}


/* Formatação da section 0 */
.a-content-sec{
    width: 93%;
    margin: 40px auto;
}
.a-content-sec .artigo{
    width: 618px;
    margin: 0 auto;
}

.a-content-sec .artigo figure{
    width: 618px;
    margin: 0 auto;
}
.a-content-sec .artigo figure img{
    width: 100%;
}

.a-content-sec .artigo .sharethis-inline-share-buttons{
    max-width: 300px;
    margin: 0px auto 30px;
}

.a-content-sec .artigo .a-content{
    width: 100%;
    margin: auto;
}

@media screen and (min-width:600px){
    .a-content-sec .artigo .a-content{
        max-width: 618px;
    }

    header .cont-menu .cont-menu-m .menu .large-menu{
        display: flex;
        align-content: center;
    }
}

.a-content-sec .artigo .a-content p{
    line-height: 1.5;
    font-size: 18px;
    margin: 0px 0px 15px;
    text-align: justify;
    text-indent: 2em;
}

.a-content-sec .artigo .a-content h2{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}


.a-content-sec .artigo .a-content ul{
    background-color: rgba(0, 0, 0, .1);
    padding: 10px;
    margin-bottom: 15px;
}
.a-content-sec .artigo .a-content ul li{
    list-style-position: inside;
    list-style-type: square;
}
.a-content-sec .artigo .a-content ul li a{
    text-decoration: none;
}

.a-content-sec .artigo .a-content .outro-texto{
    text-align: center;
    margin: 30px 0px 30px 0px;
    padding: 15px 0px;

    background-color: #0000000e;
}
.a-content-sec .artigo .outro-texto a{
    text-decoration: none;
}




/* Responsive */
@media screen and (max-width:600px){
    .cont-menu .cont-menu-m .cx-logoDesc-large{
      display: none;
    }
    header .menu .large-menu{
      display: none;
    }



    .a-content-sec .artigo .art-content-title h1{
        font-size: 22px;
    }

    .a-content-sec .artigo{
        width: auto;
    }
    .a-content-sec .artigo figure{
        width: auto;
    }
    .a-content-sec .artigo figure img{
        width: 100%;
    }
    .a-content-sec .artigo .a-content{
        max-width: auto;
    }



    header #slide{
        display: none;
    }

    header .cont-menu .logo_classista{
        display: none;
    }
}
  
  
  @media screen and (min-width:601px){
    header .cont-menu{
      margin-bottom: 20px;
    }
  
    header .cx-logoDesc{
      display: none;
    }
  
    header .menu .caixa-menu-mobile{
      display: none;
    }

    header #slide2{
        display: none;
    }

    header .redes-sociais{
        margin: 0px auto 20px;
    }
      .capa{
        margin: 30px auto;
    }
    
      header .categorias{
        display: flex;
        margin: -15px auto 15px;
    }
      header .categorias a{
          width: 30%;
          margin: 0px 3px;
    }

    .a-content-sec .artigo .art-content-title h1{
        font-size: 38px;
    }

    .a-content-sec .artigo figure{
        margin: 15px 0px 40px 0px;
    }


    .log-mob{
        display: none;
    }
}

/* Configuração do botão voltar ao topo */
#myBtnS {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px;
  }
  
  #myBtnS:hover {
    background-color: #555;
  }

  #up{
    font-size: 25px;
  }