/*Configurações Globais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body h2, h3, h4{
    font-family: 'Source Sans Pro', sans-serif;
}
body h1, p, a, span, link{
    font-family: 'Noto Serif', serif;
}
.material-symbols-outlined{
    font-family: 'Material Icons';
}


/*Formatação dos elementos do Header/Cabeçalho*/
.blog-header{
    border-top: solid 1px transparent;
    height: 200px;
    width: 100%;
    background-color: #ffc300;

    background-image: url(./eu2.png);
    background-size: 57%;
    background-repeat: no-repeat;
    background-position: -50px bottom;
}
.blog-header .containerMenu{
    width: 100%;
    position: fixed;
    transition: top .5s;
    z-index: 1;
    background-color: #ffc300;
}
.blog-header nav{
    margin-top: 10px;
}
.blog-header nav .material-symbols-outlined{
    font-size: 40px;
    font-weight: 900;
}

.blog-header #largeMenu{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: end;
    align-items: center;
    padding: 10px 0px;
}
.blog-header #largeMenu a{
    text-decoration: none;
    color: #000000;
    padding: 0px 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.blog-header #largeMenu a:hover{
    background-color: #000000;
    color: #ffc300;
    transition: background-color 0.3s;
}


.blog-header .desc{
    margin: auto;
    position: absolute;
    top: 90px;
    left: 37%;
    z-index: auto;
}
.blog-header .desc h1{
    font-weight: 900;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
.blog-header .desc h1, p{
    text-align: left;
}
.blog-header .desc p{
    margin-bottom: 40px;
    font-size: 14px;
}


/* Estilo da página blog*/
.post-container{
    width: 95%;
    height: auto;
    margin: 20px auto;
}
.post-container a{
    text-decoration: none;
    color: #000000;
}
.post-container .post-previa::before{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
}
.post-container .post-previa{
    display: block;
    height: 300px;
    width: 100%;
    margin: 0px 0px 20px 0px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-container .post-previa .post-caixa{
    margin-top: 10px;
}
.post-container .post-previa h1{
    font-family: 'Noto Serif', serif;
    font-size: 22px;
}
.post-container .post-previa img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
}
.post-header{
    display: none;
}




/* Responsividade do blog*/
@media screen and (max-width:601px){
    .containerMenu #largeMenu{
        display: none;
    }
}
@media screen and (min-width:601px){
    .blog-header{
        background-size: 30%;
    }
    .blog-header #menu{
        display: none;
    }
    .blog-header .desc{
        left: 27%;
    }
@media screen and (min-width:769px){
    .blog-header{
        background-size: 18%;
    }
    .blog-header #menu{
        display: none;
    }
    .blog-header .desc{
        left: 16%;
    }

    /* Estilo das prévias da página de blog */
    .post-container{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }
    .post-container .post-previa{
        height: 320px;
        width: 30%;
        margin: 1.6%;
    }
    .post-container .post-previa::before{
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: #d9d9d9;
    }
    .post-container .post-previa .post-caixa{
        margin-top: 10px;
    }
    .post-container .post-previa h1{
        font-size: 25px;
    }
    .post-container .post-previa:hover{
        background-color: #d9d9d9;
        border-radius: 10px;
        transition: background-color .3s;
    }
}




/*Formatação dos elementos footer*/
footer{
    background-color: #000000;
}
footer .contentFooter{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 20px 0px;
}
footer .contentFooter h2{
    color:#ffc300;
    text-align: center;
    font-size: 18px;
}
footer .contentFooter p{
    color:#ffc300;
    text-align: center;
    font-size: 14px;
}