*{
    margin: 0px;
    padding: 0 px;
}

#lateral2 span{
    font-family: 'Material Icons';
}


/* Formatação do bloco 1 da lateral */
#lateral1{
    max-width: 300px;
    margin-bottom: 30px;
}
#lateral1 img{
    width: 100%;
}
#lateral1 h3{
    background-color: black;
    color: whitesmoke;
    padding: 5px 0px 5px 10px;
}
@media screen and (max-width: 601px){
    #lateral1{
        max-width: 580px;
        margin: 0px 0px 30px auto;
    }
    #lateral1 h3{
        padding: 30px 0px 30px 0px;
        text-align: center;
        font-size: 25px;
    }
    #lateral1 p{
        text-align: center;
        padding: 10px;
        font-size: 18px;
    }
}


/* Formatação do bloco 2 da lateral */
#lateral2{
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
#lateral2 h3{
    background-color: red;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
}
#lateral2 p{
    margin-bottom: 7px;
}
#lateral2 span{
    color: red;
    font-size: 25px;
}


/* Formatação do bloco 3 da lateral */
#lateral3{
    max-width: 300px;
    height: 160px;
    margin-bottom: 20px;
}
@media screen and (max-width: 601px){
    #lateral3{
        max-width: 580px;
    }
    #lateral3 h2{
        text-align: center;
    }
    #lateral3 li{
        text-align: center;
    }
}
#lateral3 li{
    list-style-type: square;
    list-style-position: inside;
    padding: 3px 5px 3px 3px;
}
#lateral3 li a:hover{
    color: white;
    background-color: black;
    padding: 3px 5px 3px 3px;
}