@media screen and (max-width:600px){
  
  header .menu .large-menu{
    display: none;
  }

  .capa{
    margin: 10px auto 0px;
  }

  header .cont-menu .logo_classista{
    display: none;
  }


  .container-posts{
    display: block;
  }
  .container-posts .posts{
    margin-bottom: 20px;
  }
}


@media screen and (min-width:601px){

  header .cont-menu{
    margin-bottom: 0px;
  }

  header .cont-menu .cont-menu-m .menu .large-menu{
    display: flex;
    align-content: center;
  }

  header .cx-logoDesc{
    display: none;
  }

  header .menu .caixa-menu-mobile{
    display: none;
  }

  header #slide2{
    display: none;
  }

  header .redes-sociais{
    margin: 0px auto 20px;
  }
  .capa{
    margin: -100px auto 0px;
  }

  .log-mob{
    display: none;
  }

  .a-content-sec .artigo .a-content-para-capa{
    width: 100%;
    margin: auto;
  }

  .capa #link-capa .noticia-capa .a-content-sec .artigo .figure{
    display: none;
  }

  header .categorias{
    display: flex;
    margin: -15px auto 15px;
  }
  header .categorias a{
      width: 30%;
      margin: 0px 3px;
    }
  
  
  .content-sec .content{
    display: flex;
    flex-wrap: wrap;
  }

  .content-sec .content a{
    width: 32%;
    margin: auto;
    
  }

  .content-sec .content .cx-artigo{
    padding: 10px;
  }
  .content-sec .content .cx-artigo:nth-child(n+4){
    border-top: none;
  }
}
