/* Formatação global */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Noto Serif', serif;
    color: #2b2200;
}

body .material-symbols-outlined{
    font-family: 'Material Icons';
}